* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

body * {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
}

/* Sekcja HEADER */

.header {
    display: block;
    width: 100%;
    padding: 20px 35px;
    margin-bottom: 35px;
    position: relative;
    border-bottom: 2px dashed #cdcdcd;
}

.header:before {
    content: '';
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    background-color: #FAD84A;
    z-index: 1;
}

.header:after {
    content: '';
    clear: both;
    display: block;
}

.header__title {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 15px;
    font-size: 35px;
    left: 30px;
    padding-left: 40px;
}

@media all and (min-width: 550px) {
    .header {
        padding: 20px 35px 75px;
    }
    .header:before {
        width: 98px;
        height: 98px;
    }
    .header__title {
        font-size: 63px;
        left: 30px;
        bottom: 65px;
    }
}

/* SEKCJA ASIDE */

.aside {
    width: 100%;
    display: block;
    float: left;
    padding: 0 65px;
}

.aside__title {
    font-size: 30px;
    display: block;
    margin-bottom: 30px;
}

.aside__list {
    list-style: none;
    padding-bottom: 30px;
    border-bottom: 1px solid #cbcacb;
    margin-bottom: 30px;
}

.aside__number-input {
    width: 50px;
    height: 40px;
    margin: 0 10px;
    border: none;
    outline: none;
    text-align: center;
}

.aside__button {
    height: 50px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 30px;
    margin: 0 auto 30px;
    display: block;
    font-weight: bold;
    color: #ffffff;
    background-color: #aaaaaa;
    cursor: pointer;
}

.aside__button--hidden {
    /* Na IE nie działa wysłanie enterem jeśli jest niewidoczny*/
    /*tab-index: -1;*/
    /*visibility: hidden;*/
    position: absolute;
    left: -99999px;
    /*display: none;*/
}

@media all and (min-width: 1024px) {
    .aside {
        max-width: 370px;
    }
}

/* Sekcja MAIN */

.main {
    width: 100%;
    display: block;
    float: right;
}

.main__list {
    display: block;
    width: 100%;
    max-width: 1280px;
    list-style: none;
    padding-bottom: 20px;
}

.main__list:after {
    content: '';
    display: block;
    clear: both;
}

@media all and (min-width: 1024px) {
    .main {
        width: calc(100% - 370px);
    }
}

/* SEKCJA BOX */

.box {
    width: 100%;
    display: block;
    float: left;
    margin: 30px 0;
}

.box:first-child {
    margin-top: 0;
}

.box__number {
    font-size: 50px;
    color: #d8d7d7;
    text-align: center;
    width: 80px;
    float: left;
    margin: 0 auto;
    font-weight: bold;
}

.box__image-holder {
    width: calc(50% - 40px);
    display: block;
    margin: 0 auto;
    position: relative;
    float: left;
}

.box__image {
    position: relative;
    display: block;
    width: 100%;
}

.box__description {
    width: calc(50% - 40px);
    display: block;
    float: left;
    padding: 0 20px;
}

.box__description-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding-top: 0;
    margin-bottom: 20px;
}

.box__description-title:after {
    content: '';
    padding-top: 20px;
    width: 75px;
    border-bottom: 4px solid #eb3324;
    height: 4px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.box__description-author,
.box__description-release,
.box__description-pages,
.box__description-link {
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.box__description-author {
    color: #000000;
    margin-bottom: 20px;
}

.box__description-release,
.box__description-pages,
.box__description-link {
    color: #999999;
}

.box__description-link--url {
    color: #eb3324;
    text-decoration: none;
    border-bottom: 1px dashed #eb3324;
}

@media all and (min-width: 760px) {
    .box {
        margin: 0;
        width: 50%;
        min-height: 510px;
    }

    .box__number {
        width: 100%;
        text-align: left;
        max-width: 370px;
        float: none;
    }

    .box__image-holder {
        width: 100%;
        max-width: 180px;
        float: none;
    }

    .box__description {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
        float: none;
        padding: 0;
    }

    .box__description-title {
        padding-top: 20px;
    }
}

@media all and (min-width: 1024px) {
    .box__image-holder {
        min-height: 270px;
    }
    .box__image {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media all and (min-width: 1680px) {
    .box {
        width: 33.33%;
    }
}

/* Sekcja POPUP */
.popup {
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
}

.popup__holder {
    max-width: 350px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.popup__image {
    display: block;
    width: 100%;
}

.popup.active {
    display: block;
}

.popup__close {
    border: 3px solid #cccbcb;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    right: -32px;
    top: -32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popup__close:before,
.popup__close:after {
    position: absolute;
    left: 10px;
    content: '';
    height: 22px;
    top: 2px;
    width: 7px;
    background-color: #333;
}

.popup__close:before {
    transform: rotate(45deg);
}

.popup__close:after {
    transform: rotate(-45deg);
}